body{
    margin: 0;
    font-family: 'Open Sans Condensed', sans-serif;
}
 
p{
    color:dimray ;
}
.pink-highlight{
    color: deeppink;
    font-size: 50px;
}
.half-width img{
    width: 100%;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
section{
    height: 500px;
    padding-bottom: 300px;
}
.header-area{
    background-image: url('images/header-bg.png');
    background-repeat: no-repeat;
    background-position: left;
}
.link-button{
     background-image: linear-gradient(45deg,deeppink,pink);
    padding: 10px 20px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 5px;
    color: #fff;
}
.link-button:hover{
    background-image: linear-gradient(180deg,blue,cyan);
}

.biography-area{
    background-image: url('images/biography-bg.png');
    background-repeat: no-repeat;
    background-position: right;
}

.work-division img{
    width: 100%;
}
.work-division{
    width: 27%;
    float: left;
    margin-left: 3%;
    padding-left: 2%;
}

.latest-area{
    background-image: url('images/latest-work-bg.png');
    background-repeat: no-repeat;
    background-position: right;
}

.heading-position{
    text-align: center;
     
}

.client-division{
    text-align: center;
    font-weight: bold;
    margin-bottom: 100px;
}

.footer-area{
    background-image: url('images/footer-bg.png');
    background-repeat: no-repeat;
    background-position: bottom;
}

 .contact-area{
     width: 40%;
     height: 23%;
     text-align: center;
     color: white;
     background-image: linear-gradient(180deg,deeppink,hotpink);
     border-radius: 5px;
     position: relative;
     top: 0;
     right: 0;
     left: 0;
     margin: auto;
 }
.contact-area a{
    color: white;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 0.1em;
}

footer p{
    text-align: center;
    font-size: 12px;
}



